.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border: 3px solid whitesmoke;
  border-radius: 100%;
  margin: 5px;
}

.profile-name {
  font-size: 22px;
  font-weight: 600;
  margin: 10px;
}

.profile-title {
  font-size: 20px;
  font-weight: 500;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px 1px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.menu-item {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin: 10px;
}

.menu-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}

.footer-icon {
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}
