<header class="menu-header">
  <img
    src="assets/ZV_02330-02.jpeg"
    class="profile-picture"
    alt="Profile Picture"
  />
  <div class="profile-name">Saurabh Damde</div>
  <div class="profile-title">Full Stack Developer</div>
</header>

<main class="menu-content">
  @for(item of menuItems; track $index){
  <div class="menu-item">
    {{ item.name }}
  </div>
  }
</main>

<footer class="menu-footer">
  @for (item of footerItems; track $index) {
    <fa-icon [icon]="item.icon" class="footer-icon"></fa-icon>
  }
</footer>
